@media (min-width: 1024px) {
  .hero {
    height: 400px;
  }

  .hero img.mobile {
    display: none;
  }

  .hero img.desktop {
    display: block;
  }

  .hero .user-info {
    margin: auto;
    width: 100%;
    max-width: 1000px;
    padding-top: 0px;
  }

  nav {
    position: unset;
  }

  nav ul {
    justify-content: flex-start;
    padding-left: 325px;
  }

  nav .nav-link {
    padding: 15px;
  }

  nav .nav-scroll,
  footer .slide-to-nav {
    display: block;
  }

  nav .nav-link.active {
    background-color: var(--primary);
    color: var(--black);
  }

  nav .nav-link.active svg {
    color: var(--black) !important;
  }

  .main .container {
    flex-direction: row;
    gap: 105px;
  }

  .main .side {
    padding-top: 30px;
    width: 100%;
    min-width: 270px;
    max-width: 270px;
  }

  .main .content {
    border-bottom: none;
    min-height: calc(100vh - 46px);
  }

  #skills ul {
    min-width: 500px;
  }

  footer .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 0 60px 375px;
    color: var(--white);
  }
}
